<div class="page-container">
    <div class="form-card">
        <h2>Rhombus</h2>

        <h1>T = 1/2ef</h1>

        <form [formGroup]="rhombusForm" (ngSubmit)="startCalc()">
        <div class="input-form">

                @if(rhombusForm.get('diagonalE')?.hasError('required') &&
                rhombusForm.get('diagonalE')?.touched){
                <span>Diagonal E value is crucial for the calculation!</span>        }

                @if(rhombusForm.get('diagonalE')?.hasError('min') &&
                rhombusForm.get('diagonalE')?.touched){
                <span>Minimum value for diagonal E is 1</span>        }


                <div class="i-g">
                <input id="diagonalE" type="text" formControlName="diagonalE" placeholder=" " />
                <label for="diagonalE">Diagonal E length</label>
                </div>

                @if(rhombusForm.get('diagonalF')?.hasError('required') &&
                rhombusForm.get('diagonalF')?.touched){
                <span>Diagonal F value is crucial for the calculation!</span>        }

                @if(rhombusForm.get('diagonalF')?.hasError('min') &&
                rhombusForm.get('diagonalF')?.touched){
                <span>Minimum value for diagonal F is 1</span>        }


                <div class="i-g">
                <input id="diagonalF" type="text" formControlName="diagonalF" placeholder=" " />
                <label for="diagonalF">Diagonal F length</label>
                </div>

                <button type="submit">Calculate</button>

                @if (showValue) {
                <div class="i-g">
                    <input id="area" type="text" formControlName="area" readonly placeholder=" " />
                    <label for="area">Area</label>
                </div>
                }

            </div>
        </form>
    </div>
</div>